# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
testbus-master
testbus-client
testbus-agent
dbus-proxy
.depend
*.swp
core
vgcore.*
obj

# Other
*.log
