<config>
  <!--
       Specify debug facilities for all testbus applications.
       You can still override this on the command line.
    -->
  <debug>none</debug>

  <!--
       When running inside a guest, you can specify a
       forwarding socket through which DBus clients can
       speak to the DBus daemon on the master host.
      
       <dbus socket="...." />
    -->

  <statedir path="/var/lib/testbus" mode="0755"/>

  <schema name="/usr/share/testbus/schema/testbus.xml"/>
</config>
